.row_poster {
  object-fit: contain;
  max-height: 100px;
  transition: transform 250ms;
  margin: 2px;
}
.row_poster:hover {
  transform: scale(1.2);
}
.row_posterLarge:hover {
  transform: scale(1.4);
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row_posters::-webkit-scrollbar {
  display: none;
}
.row_posterLarge {
  object-fit: contain;
  transition: transform 250ms;
  margin: 4px;
  max-height: 250px;
}
